// Custom styles.
 
#about #posts {
    width: 100%
    padding:.5em;
    background-color: rgba(239, 231, 231, 0.6);
    margin-bottom: 10px;
}

#about #baiduWrap{
    width: 100%;
    height 230px;
    padding: .5em;
    background-color: rgba(239, 231, 231, 0.6);
}